/* Styling */
// I,ports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";
    

body {
    background: orange;
}

// Portfolio Items
figure {
    padding: 1em;
    width: 300px;
    border-radius:10%;
    background: lightyellow;
    text-align: center;
}

figure img {
    box-shadow: 2px 2px 2px gray;
    align-items: center;
}